# Project exclude paths
/.gradle/
/Coffee Machine (Java)/task/build/
/Coffee Machine (Java)/task/out/
/Coffee Machine (Java)/task/out/production/classes/
/Topics/Iterating over arrays/Right Rotation/out/
/Topics/Iterating over arrays/Right Rotation/out/production/classes/
/Topics/Overloading/Print/out/
/Topics/Overloading/Print/out/production/classes/